:root{
    --reseda-green: #797d62ff;
    --moss-green: #9b9b7aff;
    --khaki: #baa587ff;
    --desert-sand: #d9ae94ff;
    --peach-yellow: #f1dca7ff;
    --sunglow: #ffcb69ff;
    --earth-yellow: #e8ac65ff;
    --persian-orange: #d08c60ff;
    --chamoisee: #b58463ff;
    --beaver: #997b66ff;
    --green-hover:#e9f5db;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ccd5ae;
}

.player{
    background-color: var(--reseda-green);
    width: 330px;
    height: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    box-shadow: -4px -4px 0 0 #606f49;
}

.record{
    height: 175px;
    width: 175px;
    background-color: #181312;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.record::before,
.record::after{
    position: absolute;
    content: "";
    border: 5px solid transparent;
    border-top-color: #2c2424;
    border-bottom-color: #2c2424;
    border-radius: 50%;
}

.record::before{
    height: 135px;
    width: 135px;
}

.record::after{
    height: 95px;
    width: 95px;
}

.label {
    background-color: #181312;
    height: 15px;
    width: 15px;
    border: 20px solid var(--sunglow);
    border-radius: 50%;
}

.tone-arm {
    height: 90px;
    width: 6px;
    background-color: #ffff;
    position: absolute;
    top: 25px;
    right: 95px;
    transition: 1s;
    transform-origin: top;
}

.control {
    background-color: #181312;
    height: 17px;
    width: 17px;
    border: 10px solid #2c2424;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -16px;
}

.tone-arm::before {
    content: "";
    height: 40px;
    width: 6px;
    background-color: #fff;
    position: absolute;
    transform: rotate(30deg);
    bottom: -36px;
    right: 10px;
}

.tone-arm::after {
    content: "";
    position: absolute;
    height: 0;
    width: 10px;
    border-top: 18px solid #b2aea6;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    top: 108px;
    right: 12.5px;
    transform: rotate(30deg);
}

.btn {
    height: 28px;
    width: 28px;
    background-color: #baa587;
    position: absolute;
    border-radius: 50%;
    bottom: 20px;
    right: 30px;
    border: none;
    border: 3.5px solid #997b66;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--chamoisee);
}

.songtitle {
    background-color: #181312;
    height: 40px;
    width: 235px;
    position: absolute;
    bottom: 13px;
    left: 20px;
    border-top: 3.5px solid #4b3e3e;
    border-left: 3.5px solid #4b3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 3px;
}

.titleContainer {
    background-color: #747371;
    border: 2px solid #4b3e3e;
    display: flex;
    align-items: center;
    width: 150px;
    height: 60%; /* Set the desired width for the text area */
    overflow: hidden;
    flex-shrink: 0;
}

.titleOfSong {
    width: 100%;
    color: white;
    font-size: 13px;
    padding-left: 5px;
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    flex: 1; 
}

@keyframes marquee {
    0% { 
        transform: translateX(100%); /* Start at the normal position (left) */
    }
    100% { 
        transform: translateX(-100%); /* Move all the way to the left */
    }
}

.buttons {
    display: flex;
    gap: 5px; 
}

.skip {
    display: flex;
    width: 20px; 
    height: 20px; 
    background-color: #2c2424; 
    border-top: 2px solid grey; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.skip:hover{
    background-color: #747371;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    transform: rotate(-90deg);
    width: 130px;
    height: 7px;
    position: absolute;
    left: 216px;
    top: 80px;
    background-color: #baa587;
    outline: none;
    border-radius: 3px;
    border: 6px solid #997b66;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 12px;
    background-color: #fff;
    cursor: pointer;
}

.play{
    transform: rotate(30deg);
    transform-origin: top;
    transition: 1s;
}

.on{
    animation: spin 3s 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.arrow {
    border: solid rgb(248, 248, 248);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.seconds{
    background-color: #181312;
    height: 6px;
    width: 75px;
    position: absolute;
    bottom: 57px;
    left: 69px;
    border-top: 1.5px solid #4b3e3e;
    border-left: 1.5px solid #4b3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1px;
}

.FiveSeconds{
    cursor: pointer;
}